header {
    background: url(../images/slate2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

body {
    background: black;
    font-family: 'Playfair Display SC', serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.test {
    margin-top: 45px;
}

.webDev {
    font-family: monospace;
}

#gotTheories {
    font-family: 'Cinzel', serif;
}

.koImg {
    height: 150px;
    width: 150px;
}

.fontAwesome {
    margin: 10px;
}
.fontAwesome:hover {
    color: rgb(40, 67, 90);
}

.trans {
    background: rgba(0, 0, 0, 0.664);
    min-height: 100px;
}

.push {
    padding: 25px;
}

#contactBtn {
    background: black;
    color: white;
    margin-top: 35px;
    font-size: 28px;
    padding: 10px;
}

#contactBtn:hover {
    color: rgb(40, 67, 90);
}

#contactBtn2 {
    background: black;
    color: white;
    font-size: 20px;
    padding: 10px;
}

#contactBtn2:hover {
    color: rgb(40, 67, 90);
}

.navButtons:hover {
    color: rgb(40, 67, 90);
}

.appLink:hover {
    color: rgb(40, 67, 90);
}

.section {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.portfolioButton {
    color: white;
}

@media screen and (max-width: 670px) {
    header {
        min-height: 500px;
    }
}